/* ------------------------------------------------------
######################  TABLES  #########################
--------------------------------------------------------- */

tbody, tbody a {
  color: #8E8E8E;
}

th {
  font-weight: bold;
  color: #5B5B5B;
}

caption {
  font-size: x-large;
  padding: 15px;
}

.hiddenRow-td {
  padding: 0 !important;
   border: 0px !important;
}

.hidden-row {
  padding: 15px 15px 45px;
  border-top: 1px solid #ddd;
}

.hiddenRow-st {
  color: #5B5B5B;
  font-weight: bold;
  padding: 20px;
}


// button multiple delete
.multi-delete, .multi-add-exceptions, .multiple-dropdown{
  background: unset;
  display: inline;
  padding: 0px;
}

#all_checking {
  margin-right: 10px;
  display: inline-block;
}

// for multiple options in exceptions tables
.dropdown-menu .submit {
  background-color: unset;
  border: medium none;
  font-weight: initial;
  opacity: 0.85;
  padding: 5px 40px;
  text-align: left;
  width: 100%;
}
.dropdown-menu .submit:hover {
  opacity: 1;
}