/* ------------------------------------------------------
######################  WIDGETS  #########################
--------------------------------------------------------- */
$widget_title_color_gray: #797979;

.widget-title {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.04em;
  //margin-top: 0px;
  text-transform: uppercase;
}

.widget-title-color {
  color: $widget_title_color_gray !important;
}

.widget-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  min-height: 150px;
  padding: 10px;

  img {
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
  }
}

.widget-box:hover img {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* ------------------------------------------------------
##############   SECTIONS WIDGET TRICK   #################
--------------------------------------------------------- */
.ch-item {
  width: 100%;
  height: 100%;
  cursor: default;
  padding: 25px 0;
}
.ch-info-wrap{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  perspective: 800px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
}
.ch-info{
  background-color: white;
  min-height: 200px;
}
.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 210px;
  background-position: center center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all  0.4s ease-in-out;
  -moz-transition: all  0.4s ease-in-out;
  padding-top: 1px;
}
.ch-info .ch-info-back {
  background-color: white;
  transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  width: 100%;
}

.ch-info:hover .ch-info-front {
  transform: rotateY(180deg);
}
.ch-info h3 {
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 21px;
  background-color: white;
  min-height: 35%;
}
.ch-info-back p {
  opacity: 0.8;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 60%;
  margin-left: 20%;
}
.ch-info-back p:hover {
  opacity: 1;
  box-shadow: 0 0px 5px 4px rgba(200, 200, 200, 0.9);
}
.ch-info-back p a {
  display: block;
  color: #8e8e8e;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 5px;
}
.ch-info:hover .ch-info-back{
  transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
}
.height230 {
  min-height: 230px;
}
/* ------------------------------------------------------
##############   SETTINGS WIDGET   #################
--------------------------------------------------------- */
.settings-widget {
  margin-bottom: 1px;
  height: 50px;
  background-color: white;
}

/* ------------------------------------------------------
##############  RECENT REPORTS WIDGET  #################
--------------------------------------------------------- */
.results-label {
  border-radius: 3px !important;
  padding: 1px 8px !important;
  margin: 2px;
  color: gray !important;
}
.color-label-white {
  background-color: white !important;
  color: gray !important;
  border: 1px solid lightgray;
}
.color-label-high {
  background-color: #f96f6b !important;
  border: 1px solid #f96f6b;
}
.color-label-medium {
  background-color: #f0ad4e !important;
  border: 1px solid #f0ad4e;
}
.color-label-low {
  background-color: #fdd017 !important;
  border: 1px solid  #fdd017;
}
